.about__main--header{
    text-align: center; 
}

.about-description{
    text-align: center; 
}

.about__mask--bg{
    border-radius: 100px;  
    width: 72%; 
    height: 200px;
    margin: 25px auto;
}

.img-sale{
    background: url('./assets/Homepage_Calculator.jpg') center no-repeat ;  
    background-size: 150%;      
}

.img-warehouse{
    background: url('./assets/Homepage_Calculator.jpg') center no-repeat ;  
    background-size: 150%;      
}
